#body-index {
    margin: 0;
    padding: 0;
    
}
#body-index::-webkit-scrollbar {
    display: none;
  }
#body-gameover{
    margin: 0;
    padding: 0;
    background-image: url("./images/vecteezy_dystopian-world-background-concept_9568588.jpg");
    background-size: 100%;
}

#board {
    height: 100vh;
    position: relative;
    background-image: url("./images/breathtaking-shot-sea-dark-purple-sky-filled-with-stars.jpg");
    background-size: 100%;
    background-position: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 15%;
    font-size: 50px;
    color: rgb(239, 8, 8);
}

#play-again {
    text-align: center;
    padding-left: 47%;
    text-decoration: none;
    color: aqua;
}

#player {
    background-color: none;
    position: absolute;
    background-image: url(./images/tank.png);
    background-size: 100%;
    background-position: 100%;
    margin: 0;
    padding: 0;
}

.alien {
    background-color: none;
    position:absolute;
    background-image: url("./images/ufo.png");
    background-size: 100%;
    background-position: 100%;
}

.bullet {
    background-color: rgb(200, 200, 19);
    position: absolute;
}
#lives-text {
    color: whitesmoke;
    margin-left: 5px;
    margin-top: 5px;
    text-align: center;
}
#score-text {
    color: whitesmoke;
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
#intro {
    height: 80vh;
    width: 100vw;
    position: relative;
    margin: 0;
    /*background-color: aqua;*/
}
.heading {
    text-align: center;
    margin: 0;
    line-height: 2;
    font-size: 1.5em;
    color: white;
}
#h1 {
    margin:0;
}
#enter {
    margin: auto;
    padding-bottom: 0;
    color: rgb(14, 226, 14);
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
